.wrapper {
    width: 1030px;
    height: 700px;
    margin: 25px auto;
    padding: 40px 25px;
    background-color: #fff;
    background-image: url("../../img/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
